table {
    border-collapse: collapse;
    width: 100%;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    border-radius: 9px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
  } 
  
table tr:nth-child(even) td {
  background-color: #f2f2f2;
}

table tr:hover td {
  background-color: #ffedcc;
}
table td {
  background-color: #fff;
  padding: 5px;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
}
.fidSelect {
 font-family: Arial, sans-serif;
    font-size: 6px;
}

#nav a {  
color: #4CAF50;  
font-size: 20px;  
margin-top: 22px;  
font-weight: 600;  
}  
a:hover, a:visited, a:link, a:active {  
    text-decoration: none;  
}
  
.capClass{
	background-color: #4472C4;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  padding: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ccc;
  text-align: left;
  position: sticky;
  top: 0px;
}

.fixTableHead { 
      overflow-y: auto; 
      height: 430px; 
    } 
    .fixTableHead thead th {
    	background-color: #4472C4;
  		color: #fff;
  		font-weight: bold;
  		padding: 5px;
  		text-transform: uppercase;
  		letter-spacing: 1px;
  		border-top: 1px solid #fff;
  		border-bottom: 1px solid #ccc;
  		white-space: nowrap; 
      position: sticky; 
      font-size: 10px; 
      text-align: center;
      top: 25px; 
    } 

#topTen{
	color: #E21160;
}
    